
@font-face {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro'), url('/assets/fonts/BasisGrotesquePro-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Basis Grotesque Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro Bold'), url('/assets/fonts/BasisGrotesquePro-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Basis Grotesque Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro Light'), url('/assets/fonts/BasisGrotesquePro-Light.woff') format('woff');
}

@font-face {
    font-family: 'DancingScript-Regular';  
    font-style: normal;  
    font-weight: normal;  
    src: local("DancingScript-Regular"), url("/assets/fonts/DancingScript-Regular.woff") format("woff");
  }
