// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "fonts";
@import "variables";


// Bootstrap
@import '~bootstrap/scss/bootstrap';


@tailwind base;

* {
    outline: none !important;
}

@tailwind components;

@tailwind utilities;

.react-datepicker-wrapper{
    width: 100%!important;
}
